<!DOCTYPE html>
<html>
	<head>
		
		<!-- INFOS -->

			<meta charset="utf-8" />
			<title>MIA</title>

			<link rel="shortcut icon" href="/pictures/favicon.png" />

			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta name="HandheldFriendly" content="True" />
			<meta name="MobileOptimized" content="320" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

			<meta name="google" content="notranslate" />
			
		<!-- CSS -->

			<link rel="stylesheet" type="text/css" href="/libs/bootstrap.css">
			
	</head>

	<body data-ng-app="MIAApp" class="container-fluid">

		<div class="hidden" data-popup-translate

			data-title-alert="Informations"
			data-title-confirm="Confirmation"
			data-title-prompt="Saisie"
			data-title-preview="Prévisualisation"

			data-button-ok="Ok"
			data-button-close="Fermer"
			data-button-no="Non"
			data-button-yes="Oui">
		</div>

		<!-- menu -->

			<div class="row">

				<nav class="navbar navbar-default">

					<div class="navbar-header">
						<div class="navbar-brand">MIA <small>({{ip}})</small></div>
					</div>

					<div class="collapse navbar-collapse">

						<ul class="nav navbar-nav only-logged hidden">
							<li><a id="navUsers" href="#"><span class="glyphicon glyphicon-user"></span> Utilisateur</a></li>
							<li><a id="navCrons" href="#"><span class="glyphicon glyphicon-calendar"></span> Tâches plannifiées</a></li>
							<li><a id="navActions" href="#"><span class="glyphicon glyphicon-fire"></span> Actions</a></li>
							<li><a id="navPlugins" href="#"><span class="glyphicon glyphicon-paperclip"></span> Plugins</a></li>
							<li><a id="navLogs" href="#"><span class="glyphicon glyphicon-list"></span> Logs</a></li>
						</ul>

						<div class="navbar-form navbar-right">
							
							<span class="label label-danger only-disconnected">déconnecté</span>
							<span class="label label-warning only-connected hidden">connecté</span>
							<span class="label label-success only-logged hidden">enregistré</span>

						</div>

					</div>

				</nav>

			</div>

		<!-- content -->

			<div class="row">

				<div class="col-xs-12 only-disconnected">

					<div class="panel panel-danger">
						<div class="panel-heading">MIA déconnectée. Veuillez attendre la reconnexion.</div>
					</div>

				</div>

				<div class="col-xs-12 only-connected hidden" data-ng-controller="ControllerLogin">

					<form id="login_form" action="#" method="POST" class="panel panel-default" data-ng-submit="login();">

						<div class="panel-heading">Login</div>

						<div class="panel-body">

							<div class="form-group">
								(note : vous pouvez aussi attendre une autorisation d'une personne déjà autentifiée)
							</div>

							<div class="form-group">

								<label for="login_login">Login</label>

								<input id="login_login" type="text" placeholder="Login" class="form-control"
										data-ng-model="login" data-ng-disabled="inProgress"
								/>
							
							</div>

							<div class="form-group">

								<label for="login_password">Mot de passe</label>

								<input id="login_password" type="password" placeholder="Mot de passe" class="form-control"
										data-ng-model="password" data-ng-disabled="inProgress"
								/>

							</div>

							<button type="submit" class="btn btn-primary" data-ng-disabled="inProgress">Connexion</button>

						</div>

					</form>

				</div>

				<div class="col-xs-12 col-md-3 col-lg-2 only-logged hidden">

					<div data-ng-controller="ControllerClients">
						
						<div class="panel panel-default">

							<div class="panel-heading">
								<h4 class="panel-title"><span class="glyphicon glyphicon-user"></span> Clients</h4>
							</div>

							<ul class="list-group">

								<li class="list-group-item"
									data-ng-repeat="client in clients"
									data-ng-style="{ 'background-color' : client.status.backgroundcolor, 'color' : client.status.textcolor }">

									<div class="clearfix">

										<h5 class="pull-left">{{client.name}}<span data-ng-show="client.user"> ({{client.user.login}})</span></h5>

										<div class="btn-group pull-right">
											<button type="button" class="btn glyphicon glyphicon-ok" data-ng-show="'ACCEPTED' != client.status.code" data-ng-click="allow(client);"></button>
											<button type="button" class="btn glyphicon glyphicon-edit" data-ng-show="'ACCEPTED' == client.status.code" data-ng-click="rename(client);"></button>
											<button type="button" class="btn glyphicon glyphicon-trash" data-ng-click="delete(client);"></button>
										</div>

									</div>

								</li>

							</ul>
							
						</div>
						
					</div>

					<div data-ng-controller="ControllerChilds">
						
						<div class="panel panel-default">

							<div class="panel-heading">
								<h4 class="panel-title"><span class="glyphicon glyphicon-baby-formula"></span> Enfants</h4>
							</div>

							<ul class="list-group">

								<li class="list-group-item"
									data-ng-repeat="child in childs"
									data-ng-style="{ 'background-color' : child.status.backgroundcolor, 'color' : client.status.textcolor }">

									<div class="clearfix">

										<h5 class="pull-left">{{child.name}}</h5>

										<div class="btn-group pull-right">
											<button type="button" class="btn glyphicon glyphicon-ok" data-ng-show="'ACCEPTED' != child.status.code" data-ng-click="allow(child);"></button>
											<button type="button" class="btn glyphicon glyphicon-edit" data-ng-show="'ACCEPTED' == child.status.code" data-ng-click="rename(child);"></button>
											<button type="button" class="btn glyphicon glyphicon-trash" data-ng-click="delete(child);"></button>
										</div>

									</div>

								</li>

							</ul>
							
						</div>
					
					</div>

				</div>

				<div class="col-xs-12 col-md-9 col-lg-8 only-logged hidden">

					<div class="panel panel-default">
						
						<div class="panel-heading">
							<h4 class="panel-title"><span class="glyphicon glyphicon-paperclip"></span> Widgets plugins</h4>
						</div>

						<div class="panel-body">
							
							<div class="row">

								{{widgets}}
								
							</div>

						</div>
						
					</div>

				</div>


				<!-- events -->


				<div class="col-xs-2 hidden-xs hidden-sm hidden-md only-logged hidden" data-ng-controller="ControllerEvents">

					<div class="panel panel-default">
						
						<div class="panel-heading">
							<h4 class="panel-title">Evènements</h4>
						</div>

						<ul class="list-group">

							<li class="list-group-item"
								data-ng-repeat="event in events">

								<div class="clearfix">

									<u>event.app</u><br />
									event.text

								</div>

							</li>

						</ul>
						
					</div>

				</div>

			</div>


			<!-- modales -->


			<div id="modalUser" class="modal fade only-logged hidden" data-ng-controller="ControllerUser">

				<div class="modal-dialog">

					<form class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title"><span class="glyphicon glyphicon-user"></span> Utilisateur</h4>
						</div>

						<div class="modal-body">

							<div class="form-group">

								<label for="formUserLogin">Login</label>

								<div class="input-group">

									<input id="formUserLogin" type="text" class="form-control" placeholder="Login" data-ng-model="user.login">

									<span class="input-group-btn">

										<button type="button" class="btn btn-primary"
												data-ng-click="editLogin(user.login);">
											Modifier
										</button>

									</span>

								</div>

							</div>

							<div class="form-group">

								<label for="formUserPassword">Mot de passe</label>

								<div class="input-group">

									<input id="formUserPassword" type="password" class="form-control" placeholder="Mot de passe" data-ng-model="user.password">

									<span class="input-group-btn">

										<button type="button" class="btn btn-primary"
												data-ng-click="editPassword(user.password);">
											Modifier
										</button>

									</span>

								</div>

							</div>

						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						</div>

					</form>

				</div>

			</div>
			
			<div id="modalCrons" class="modal fade only-logged hidden" data-ng-controller="ControllerCrons">

				<div class="modal-dialog">

					<div class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title"><span class="glyphicon glyphicon-calendar"></span> Tâches plannifiées</h4>
						</div>

						<div class="modal-body">
							
							<button type="button" class="btn btn-primary" data-ng-click="add();">
								<span class="glyphicon glyphicon-plus"></span> Ajouter
							</button>

							<button type="button" class="btn btn-primary" data-ng-click="linkToAction();" data-ng-show="0 < crons.length">
								<span class="glyphicon glyphicon-fire"></span> Lier à une action
							</button>

							<br /><br />

							<div data-ng-show="0 >= crons.length">
								Aucune tâches plannifiée enregistrée.
							</div>

							<ul class="list-group" data-ng-show="0 < crons.length">

								<li class="list-group-item" data-ng-repeat="cron in crons">

									<div class="clearfix">

										<h5 class="pull-left">{{cron.name}}</h5>

										<div class="btn-group pull-right">
											<button type="button" class="btn btn-primary glyphicon glyphicon-trash"
													data-ng-click="delete(cron);"
													data-toggle="tooltip" data-placement="auto" title="Supprimer la tâche plannifiée">
											</button>
										</div>

									</div>

								</li>

							</ul>

						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						</div>

					</div>

				</div>

			</div>

				<div id="modalCron" class="modal fade only-logged hidden" data-ng-controller="ControllerCron">

					<div class="modal-dialog">

						<form class="modal-content">

							<div class="modal-header">
								<h4 class="modal-title"><span class="glyphicon glyphicon-fire"></span> {{cron.name}}</h4>
							</div>

							<div class="modal-body">

								<div class="form-group">
									<label for="formCronName">Nom</label>
									<input id="formCronName" type="text" class="form-control" placeholder="Nom" data-ng-model="cron.name">
								</div>

								<div class="form-group">
									<label for="formCronTimer">Timer</label>
									<input id="formCronTimer" type="text" class="form-control" placeholder="Timer" data-ng-model="cron.timer">
								</div>

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-ng-click="add(cron);">Ajouter</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
							</div>

						</form>

					</div>

				</div>
				
				<div id="modalLinkCronsActions" class="modal fade only-logged hidden" data-ng-controller="ControllerLinkCronsActions">

					<div class="modal-dialog">

						<form class="modal-content">

							<div class="modal-header">
								<h4 class="modal-title">
									<span class="glyphicon glyphicon-link"></span> Liens entre tâches plannifiées et actions
								</h4>
							</div>

							<div class="modal-body">

								<div class="row">
									
									<div class="col-xs-12 text-center">
										Pour créer un lien, glissez-déposez une action sur une tâche plannifiée.
									</div>

								</div>

								<br />

								<div class="row">

									<div class="col-xs-6">

										<div class="panel panel-default">

											<div class="panel-heading">Tâches plannifiées</div>

											<div class="panel-body" data-ng-show="0 >= crons.length">
												Aucune tâche plannifiée enregistrée
											</div>

											<div class="list-group" data-ng-show="0 < crons.length">

												<div 	class="list-group-item cron-droppable"
														data-ng-repeat="cron in crons" data-cron="{{cron.id}}">

													{{cron.name}}

													<ul data-ng-show="cron.actions && cron.actions.length">
														<li data-ng-repeat="action in cron.actions">
															{{action.name}} <a href="#" data-ng-click="unlink(cron, action);">x</a>
														</li>
													</ul>

												</div>

											</div>

										</div>
										
									</div>

									<div class="col-xs-6">
										
										<div class="panel panel-default">

											<div class="panel-heading">Actions</div>

											<div class="panel-body" data-ng-show="0 >= actions.length">
												Aucune action enregistrée
											</div>

											<div class="list-group" data-ng-show="0 < actions.length">

												<div 	class="list-group-item action-draggable"
														data-ng-repeat="action in actions" data-action="{{action.id}}">
													{{action.name}}
												</div>

											</div>

										</div>
										
									</div>

								</div>

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
							</div>

						</form>

					</div>

				</div>
				
			<div id="modalActions" class="modal fade only-logged hidden" data-ng-controller="ControllerActions">

				<div class="modal-dialog">

					<div class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title"><span class="glyphicon glyphicon-fire"></span> Actions</h4>
						</div>

						<div class="modal-body">
							
							<div data-ng-show="0 >= actions.length">
								Aucune action enregistrée.
							</div>

							<div data-ng-show="0 < actions.length">

								<button type="button" class="btn btn-primary" data-ng-click="linkToCron();">
									<span class="glyphicon glyphicon-calendar"></span> Lier à une tâche plannifiée
								</button>

								<br /><br />

								<ul class="list-group">

									<li class="list-group-item" data-ng-repeat="action in actions">

										<div class="clearfix">

											<h5 class="pull-left">"{{action.name}}", sur {{action.child.name}}</h5>

											<div class="btn-group pull-right">
												<button type="button" class="btn btn-primary glyphicon glyphicon-play"
														data-ng-click="execute(action);"
														data-toggle="tooltip" data-placement="auto" title="Exécuter l'action">
												</button>
												<button type="button" class="btn btn-primary glyphicon glyphicon-trash"
														data-ng-click="delete(action);"
														data-toggle="tooltip" data-placement="auto" title="Supprimer l'action">
												</button>
											</div>

										</div>

									</li>

								</ul>

							</div>

						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						</div>

					</div>

				</div>

			</div>
				
				<div id="modalAction" class="modal fade only-logged hidden" data-ng-controller="ControllerAction">

					<div class="modal-dialog">

						<form class="modal-content">

							<div class="modal-header">
								<h4 class="modal-title"><span class="glyphicon glyphicon-fire"></span> {{action.name}}</h4>
							</div>

							<div class="modal-body">

								<div class="form-group">
									<label for="formActionName">Nom</label>
									<input id="formActionName" type="text" class="form-control" placeholder="Nom" data-ng-model="action.name">
								</div>

								<div class="form-group">
									<label for="formActionChild">Enfant</label>
									<select id="formActionChild" class="form-control" data-ng-model="action.child" ng-options="child.name group by child.status.name for child in childs">
										<option>-- Tous --</option>
									</select>
								</div>

								<div class="form-group">
									<label for="formActionType">Type</label>
									<select id="formActionType" class="form-control" data-ng-model="action.type" ng-options="type.name for type in actionstypes">
										<option>-- NC --</option>
									</select>
								</div>

							</div>

							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-ng-click="add(action);">Ajouter</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
							</div>

						</form>

					</div>

				</div>
				
			<div id="modalPlugins" class="modal fade only-logged hidden" data-ng-controller="ControllerPlugins">

				<div class="modal-dialog">

					<div class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title"><span class="glyphicon glyphicon-paperclip"></span> Plugins</h4>
						</div>

						<div class="modal-body">

							<button type="button" class="btn btn-primary" data-ng-click="addViaGithub();">
								<span class="glyphicon glyphicon-plus"></span> Ajouter via Github
							</button>

							<br /><br />

							<ul class="list-group">

								<li class="list-group-item" data-ng-repeat="plugin in plugins">

									<div class="clearfix">

										<h4 class="pull-left">{{plugin.name}}</h4>

										<div class="btn-group pull-right">

											<button type="button" class="btn glyphicon glyphicon-cloud-download"
													data-ng-show="plugin.github && '' != plugin.github"
													data-ng-click="updateViaGithub(plugin);">
											</button>

											<button type="button" class="btn glyphicon glyphicon-trash"
													data-ng-click="delete(plugin);">
											</button>
										
										</div>

									</div>

									{{plugin.description}}

								</li>

							</ul>

						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						</div>

					</div>

				</div>

			</div>
				
			<div id="modalLogs" class="modal fade only-logged hidden" data-ng-controller="ControllerLogs">

				<div class="modal-dialog">

					<div class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title"><span class="glyphicon glyphicon-list"></span> Logs</h4>
						</div>

						<div class="modal-body">

							{{logs}}

						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						</div>

					</div>

				</div>

			</div>
			
		<!-- JS -->

			<script type="text/javascript" src="/libs/jquery.js"></script>
			<script type="text/javascript" src="/libs/interact.js"></script>
			<script type="text/javascript" src="/libs/bootstrap.js"></script>
			<script type="text/javascript" src="/libs/socketio.js"></script>
			<script type="text/javascript" src="/libs/angular.js"></script>
			<script type="text/javascript" src="/libs/angular-modules.js"></script>

			<script type="text/javascript">
				var socket = io.connect();
				var app = angular.module('MIAApp', ['ngBootstrapPopup', 'ngCookies']);
				jQuery(function () { jQuery('[data-toggle="tooltip"]').tooltip(); });
			</script>
			
			<script src="/js/children.js"></script>
			<script src="/js/plugins.js"></script>
			
	</body>
	
</html>