<!DOCTYPE html>
<html>
	<head>
		
		<!-- INFOS -->

			<meta charset="utf-8" />
			<title>MIA</title>

			<link rel="shortcut icon" href="/pictures/favicon.png" />

			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta name="HandheldFriendly" content="True" />
			<meta name="MobileOptimized" content="320" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

			<meta name="google" content="notranslate" />
			
		<!-- CSS -->

			<link rel="stylesheet" type="text/css" href="/libs/bootstrap.css">
			
	</head>

	<body data-ng-app="MIAApp" class="container-fluid">

		<div class="hidden" data-popup-translate

			data-title-alert="Informations"
			data-title-confirm="Confirmation"
			data-title-prompt="Saisie"
			data-title-preview="Prévisualisation"

			data-button-ok="Ok"
			data-button-close="Fermer"
			data-button-no="Non"
			data-button-yes="Oui">
		</div>

		<!-- menu -->

			<div class="row">

				<nav class="navbar navbar-default">

					<div class="navbar-header">
						<div class="navbar-brand">MIA <small>({{ip}})</small></div>
					</div>

					<div class="collapse navbar-collapse">

						<ul class="nav navbar-nav only-logged hidden">
							<li><a id="navConfiguration" href="#">Configuration</a></li>
							<li><a id="navCrons" href="#">Tâches plannifiées</a></li>
							<li><a id="navActions" href="#">Actions</a></li>
							<li><a id="navPlugins" href="#">Plugins</a></li>
						</ul>

						<div class="navbar-form navbar-right">
							<span class="label label-danger only-disconnected">déconnecté</span>
							<span class="label label-warning only-connected hidden">connecté</span>
							<span class="label label-success only-logged hidden">enregistré</span>
						</div>

					</div>

				</nav>

			</div>

		<!-- content -->

			<div class="row">

				<div class="col-xs-12 only-disconnected">

					<div class="panel panel-danger">
						<div class="panel-heading">MIA déconnectée. Veuillez attendre la reconnexion.</div>
					</div>

				</div>

				<div class="col-xs-12 only-connected hidden">

					<form id="login_form" action="#" method="POST" class="panel panel-default">

						<div class="panel-heading">Login</div>

						<div class="panel-body">

							<div class="form-group">
								(note : vous pouvez aussi attendre une autorisation d'une personne déjà autentifiée)
							</div>

							<div class="form-group">
								<label for="login_login">Login</label>
								<input id="login_login" type="text" placeholder="Login" class="form-control">
							</div>

							<div class="form-group">
								<label for="login_password">Mot de passe</label>
								<input id="login_password" type="password" placeholder="Mot de passe" class="form-control">
							</div>

							<button type="submit" class="btn btn-primary">Connexion</button>

						</div>

					</form>

				</div>

				<div class="col-xs-12 col-md-3 col-lg-2 only-logged hidden">

					<div data-ng-controller="ControllerClients">
						
						<div class="panel panel-default">

							<div class="panel-heading">
								<h4 class="panel-title">Clients</h4>
							</div>

							<ul class="list-group">

								<li class="list-group-item"
									data-ng-repeat="client in clients"
									data-ng-class="{ 'list-group-item-success' : client.connected && client.allowed, 'list-group-item-warning' : client.connected && !client.allowed }">

									<div class="clearfix">

										<h5 class="pull-left">{{client.name}}</h5>

										<div class="btn-group pull-right">
											<button type="button" class="btn glyphicon glyphicon-ok" data-ng-show="!client.allowed" data-ng-click="allow(client);"></button>
											<button type="button" class="btn glyphicon glyphicon-edit" data-ng-show="client.allowed" data-ng-click="rename(client);"></button>
											<button type="button" class="btn glyphicon glyphicon-trash" data-ng-click="delete(client);"></button>
										</div>

									</div>

								</li>

							</ul>
							
						</div>
						
					</div>

					<div data-ng-controller="ControllerChilds">
						
						<div class="panel panel-default">

							<div class="panel-heading">
								<h4 class="panel-title">Enfants</h4>
							</div>

							<ul class="list-group">

								<li class="list-group-item"
									data-ng-repeat="child in childs"
									data-ng-class="{ 'list-group-item-success' : child.connected && child.allowed, 'list-group-item-warning' : child.connected && !child.allowed }">

									<div class="clearfix">

										<h5 class="pull-left">{{child.name}}</h5>

										<div class="btn-group pull-right">
											<button type="button" class="btn glyphicon glyphicon-ok" data-ng-show="!child.allowed" data-ng-click="allow(child);"></button>
											<button type="button" class="btn glyphicon glyphicon-edit" data-ng-show="child.allowed" data-ng-click="rename(child);"></button>
											<button type="button" class="btn glyphicon glyphicon-trash" data-ng-click="delete(child);"></button>
										</div>

									</div>

								</li>

							</ul>
							
						</div>
					
					</div>

				</div>

				<div class="col-xs-12 col-md-9 col-lg-8 only-logged hidden">

					<div class="panel panel-default">
						
						<div class="panel-heading">
							<h4 class="panel-title">Widgets plugins</h4>
						</div>

						<div class="panel-body">
							
							<div class="row">

								{{widgets}}
								
							</div>

						</div>
						
					</div>

				</div>

				<div class="col-xs-2 hidden-xs hidden-sm hidden-md only-logged hidden" data-ng-controller="ControllerEvents">

					<div class="panel panel-default">
						
						<div class="panel-heading">
							<h4 class="panel-title">Evènements</h4>
						</div>

						<ul class="list-group">

							<li class="list-group-item"
								data-ng-repeat="event in events">

								<div class="clearfix">

									<u>event.app</u><br />
									event.text

								</div>

							</li>

						</ul>
						
					</div>

				</div>

			</div>

			<div id="modalActions" class="modal fade only-logged hidden" data-ng-controller="ControllerActions">

				<div class="modal-dialog">

					<div class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title">Actions</h4>
						</div>

						<div class="modal-body">
							actions...
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						</div>

					</div>

				</div>

			</div>
			
			<div id="modalConfiguration" class="modal fade only-logged hidden" data-ng-controller="ControllerConfiguration">

				<div class="modal-dialog">

					<div class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title">Configuration</h4>
						</div>

						<div class="modal-body">
							configuration...
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						</div>

					</div>

				</div>

			</div>
			
			<div id="modalCrons" class="modal fade only-logged hidden" data-ng-controller="ControllerCrons">

				<div class="modal-dialog">

					<div class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title">Tâches plannifiées</h4>
						</div>

						<div class="modal-body">
							tâches plannifiées...
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						</div>

					</div>

				</div>

			</div>

			<div id="modalPlugins" class="modal fade only-logged hidden" data-ng-controller="ControllerPlugins">

				<div class="modal-dialog">

					<div class="modal-content">

						<div class="modal-header">
							<h4 class="modal-title">Plugins</h4>
						</div>

						<div class="modal-body">

							<button class="btn btn-primary" data-ng-click="addViaGithub();">Ajouter via Github</button>

							<br /><br />

							<ul class="list-group">

								<li class="list-group-item" data-ng-repeat="plugin in plugins">

									<div class="clearfix">

										<h5 class="pull-left">{{plugin.name}}</h5>

										<div class="btn-group pull-right">
											<button type="button" class="btn glyphicon glyphicon-trash" data-ng-click="delete(plugin);"></button>
										</div>

									</div>

									{{plugin.description}}

								</li>

							</ul>

						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
						</div>

					</div>

				</div>

			</div>
			
		<!-- JS -->

			<script type="text/javascript" src="/libs/jquery.js"></script>
			<script type="text/javascript" src="/libs/bootstrap.js"></script>
			<script type="text/javascript" src="/libs/socketio.js"></script>
			<script type="text/javascript" src="/libs/angular.js"></script>
			<script type="text/javascript" src="/libs/angular-modules.js"></script>

			<script type="text/javascript">
				var socket = io.connect();
				var app = angular.module('MIAApp', ['ngBootstrapPopup']);
			</script>
			
			<script src="/js/children.js"></script>
			<script src="/js/plugins.js"></script>
			
	</body>
	
</html>