<!DOCTYPE html>
<html>
	<head>
		
		<!-- INFOS -->

			<meta charset="utf-8" />
			<title>MIA</title>

			<link rel="shortcut icon" href="/pictures/favicon.png" />

			<meta http-equiv="X-UA-Compatible" content="IE=edge" />
			<meta name="HandheldFriendly" content="True" />
			<meta name="MobileOptimized" content="320" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

			<meta name="google" content="notranslate" />
			
		<!-- CSS -->

			<link rel="stylesheet" type="text/css" href="/libs/bootstrap.css">
			
	</head>

	<body data-ng-app="MIAApp" class="container-fluid">

		<div class="hidden" data-popup-translate

			data-title-alert="Informations"
			data-title-confirm="Confirmation"
			data-title-prompt="Saisie"
			data-title-preview="Prévisualisation"

			data-button-ok="Ok"
			data-button-close="Fermer"
			data-button-no="Non"
			data-button-yes="Oui">
		</div>

		<!-- menu -->

			<div class="row">

				<nav class="navbar navbar-default">

					<div class="navbar-header">
						<div class="navbar-brand">MIA</div>
					</div>

					<div class="collapse navbar-collapse bs-example-js-navbar-collapse">

						<div class="navbar-form navbar-right">
							<span class="label label-danger only-disconnected">déconnecté</span>
							<span class="label label-warning only-connected hidden">connecté</span>
							<span class="label label-success only-logged hidden">enregistré</span>
						</div>

					</div>

				</nav>

			</div>

		<!-- content -->

			<div class="row">

				<div class="col-xs-12 only-disconnected">

					<div class="panel panel-danger">
						<div class="panel-heading">MIA déconnectée. Veuillez attendre la reconnexion.</div>
					</div>

				</div>

				<div class="col-xs-12 only-connected hidden">

					<form id="login_form" action="#" method="POST" class="panel panel-default">

						<div class="panel-heading">Login</div>

						<div class="panel-body">

							<div class="form-group">
								<label for="login_login">Login</label>
								<input id="login_login" type="text" placeholder="Login" class="form-control">
							</div>

							<div class="form-group">
								<label for="login_password">Mot de passe</label>
								<input id="login_password" type="password" placeholder="Mot de passe" class="form-control">
							</div>

							<button type="submit" class="btn btn-default">Envoyer</button>

						</div>

					</form>

				</div>

				<div class="col-xs-12 col-md-2 only-logged hidden">

					<div data-ng-controller="ControllerClients">
						
						<div 	class="panel"
								
								data-ng-class="{ 'panel-success' : client.connected && client.allowed, 'panel-warning' : client.connected && !client.allowed }"
								data-ng-repeat="client in clients">
							
							<div class="panel-heading">{{client.name}}</div>

						</div>
						
					</div>

					<div data-ng-controller="ControllerChildren">
						
						<div 	class="panel"
								data-ng-class="{ 'panel-success' : child.connected && child.allowed, 'panel-warning' : child.connected && !child.allowed }"
								data-ng-repeat="child in children">
								
							<div class="panel-heading">{{child.name}}</div>

							<table class="table table-bordered">
								<tbody>
									<tr>
										<td>token</td>
										<td>{{child.token}}</td>
									</tr>
									<tr>
										<td>temperature</td>
										<td>{{child.temperature}}°C</td>
									</tr>
								</tbody>
							</table>

						</div>
					
					</div>

				</div>

				<div class="col-xs-12 col-md-10 col-lg-8 only-logged hidden">

					<div class="row">

						{{widgets}}
						
					</div>

				</div>

				<div class="col-xs-2 hidden-xs hidden-sm hidden-md only-logged hidden" data-ng-controller="ControllerEvents">

					<div class="panel panel-default">
						
						<div class="panel-heading">
							<h4 class="panel-title">Evènements</h4>
						</div>

						<table class="table table-bordered">

							<tbody>
								
								<tr data-ng-repeat="event in events">
									<td>
										
										<u>event.app</u><br />
										event.text

									</td>
								</tr>

							</tbody>
							
						</table>

					</div>

				</div>

			</div>
			
		<!-- JS -->

			<script type="text/javascript" src="/libs/jquery.js"></script>
			<script type="text/javascript" src="/libs/bootstrap.js"></script>
			<script type="text/javascript" src="/libs/socketio.js"></script>
			<script type="text/javascript" src="/libs/angular.js"></script>
			<script type="text/javascript" src="/libs/angular-modules.js"></script>

			<script type="text/javascript">
				var socket = io.connect();
				var app = angular.module('MIAApp', ['ngBootstrapPopup']);
			</script>
			
			<script src="/js/children.js"></script>
			<script src="/js/plugins.js"></script>
			
	</body>
	
</html>