<div id="modalVideos" class="modal fade only-logged hidden" data-ng-controller="ControllerVideosList">

	<div class="modal-dialog modal-lg">

		<div class="modal-content">

			<div class="modal-header">
				<h4 class="modal-title">Vidéos</h4>
			</div>

			<div class="modal-body">

                <form class="form-inline form-group">

                    <div class="form-group">
                    	<input type="text" data-ng-model="selectedvideo.name" class="form-control" />
                    </div>

                    <div class="form-group">
                    	<input type="text" data-ng-model="selectedvideo.url" class="form-control" />
                    </div>

                    <button type="button" class="btn btn-primary" data-ng-disabled="loading" data-ng-class="{'disabled' : loading }" data-ng-click="add()">
                        Add
                    </button>

                    <button type="button" class="btn btn-primary" data-ng-disabled="loading || !selectedvideo" data-ng-class="{'disabled' : loading || !selectedvideo }" data-ng-click="edit()">
                        Edit
                    </button>

                </form>

				<table class="table table-bordered table-hover">

					<thead>
						<tr>
							<th>Name</th>
							<th>Address</th>
							<th>Embeded</th>
						</tr>
					</thead>

					<tbody>

						<tr data-ng-show="loading && !videos.length">
							<td colspan="2">loading...</td>
						</tr>

						<tr data-ng-show="videos.length" data-ng-repeat="video in videos" data-ng-class="{ 'info' : selectedvideo && video.id == selectedvideo.id }" data-ng-click="selectVideo(video)">
							<td>{{video.name}}</td>
							<td>{{video.url}}</td>
							<td>{{video.urlembeded}}</td>
						</tr>

					</tbody>

				</table>

                <div class="row">

                    <div class="col-xs-6">

		                <form class="form-inline">

		                	<div class="form-group">
                    			<input 	type="button" class="btn btn-primary" value="Preview"
		                        		data-ng-disabled="loading || !selectedvideo" data-ng-class="{'disabled' : loading || !selectedvideo }"
		                        		data-ng-click="preview()" />
		                    </div>

		                	<div class="form-group">
		                        <select class="form-control"
		                        		data-ng-disabled="loading || !selectedvideo" data-ng-class="{'disabled' : loading || !selectedvideo }"
		                        		data-ng-options="child.name for child in children"
		                        		data-ng-model="selectedchild">
		                        	<option value="">-- NC --</option>
		                        </select>
		                    </div>

		                	<div class="form-group">
                    			<input 	type="button" class="btn btn-primary" value="Play"
		                        		data-ng-disabled="loading || !selectedvideo || !selectedchild" data-ng-class="{'disabled' : loading || !selectedvideo || !selectedchild }"
		                        		data-ng-click="play()" />
		                    </div>

	                	</form>

                    </div>

                    <div class="col-xs-6">
	        			<input 	type="button" class="btn btn-primary pull-right" value="Delete"
	                    		data-ng-disabled="loading || !selectedvideo" data-ng-class="{'disabled' : loading || !selectedvideo }"
	                    		data-ng-click="delete()" />
                    </div>

                </div>

			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	  		</div>

		</div>

	</div>

</div>
<div id="modalWarcraft" class="modal fade only-logged hidden" data-ng-controller="ControllerWarcraftSounds">

    <div class="modal-dialog modal-lg">

        <div class="modal-content">

            <div class="modal-header">
                <h4 class="modal-title">Warcraft 3 Sounds</h4>
            </div>

            <form class="modal-body">

                <div class="form-group">

                    <label for="WarcraftRaces">Races</label>

                    <select id="WarcraftRaces" class="form-control"
                            data-ng-disabled="loading || !races.length" data-ng-class="{'disabled' : loading || !races.length }"
                            data-ng-options="race.name for race in races"
                            data-ng-model="selectedrace">
                        <option value="">-- NC --</option>
                    </select>

                </div>

                <div class="row">

                    <div class="form-group col-xs-6">

                        <label for="WarcraftMusics">Musics</label>

                        <select id="WarcraftMusics" class="form-control"
                                data-ng-disabled="loading || !selectedrace || !selectedrace.musics || !selectedrace.musics.length" data-ng-class="{'disabled' : loading || !selectedrace || !selectedrace.musics || !selectedrace.musics.length }"
                                data-ng-options="music.name for music in selectedrace.musics"
                                data-ng-model="selectedmusic">
                            <option value="">-- NC --</option>
                        </select>

                    </div>

                    <div class="form-group col-xs-6">

                        <label for="WarcraftWarnings">Warning</label>

                        <select id="WarcraftWarnings" class="form-control"
                                data-ng-disabled="loading || !selectedrace || !selectedrace.warnings || !selectedrace.warnings.length" data-ng-class="{'disabled' : loading || !selectedrace || !selectedrace.warnings || !selectedrace.warnings.length }"
                                data-ng-options="warning.name for warning in selectedrace.warnings"
                                data-ng-model="selectedwarning">
                            <option value="">-- NC --</option>
                        </select>

                    </div>

                    <div class="form-group col-xs-6">

                        <div class="form-inline">

                            <div class="form-group">

                                <input  type="button" class="btn btn-primary" value="Preview"
                                        data-ng-disabled="loading || !selectedmusic" data-ng-class="{'disabled' : loading || !selectedmusic }"
                                        data-ng-click="previewMusic()" />

                            </div>

                            <div class="form-group">
                                <select class="form-control"
                                        data-ng-disabled="loading || !selectedmusic" data-ng-class="{'disabled' : loading || !selectedmusic }"
                                        data-ng-options="child.name for child in children"
                                        data-ng-model="selectedchild">
                                    <option value="">-- NC --</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input  type="button" class="btn btn-primary" value="Play"
                                        data-ng-disabled="loading || !selectedmusic || !selectedchild" data-ng-class="{'disabled' : loading || !selectedmusic || !selectedchild }"
                                        data-ng-click="playMusic()" />
                            </div>

                        </div>

                    </div>

                    <div class="form-group col-xs-6">

                        <div class="form-inline">

                            <div class="form-group">
                                <input  type="button" class="btn btn-primary" value="Preview"
                                        data-ng-disabled="loading || !selectedwarning" data-ng-class="{'disabled' : loading || !selectedwarning }"
                                        data-ng-click="previewWarning()" />
                            </div>

                            <div class="form-group">
                                <select class="form-control"
                                        data-ng-disabled="loading || !selectedwarning" data-ng-class="{'disabled' : loading || !selectedwarning }"
                                        data-ng-options="child.name for child in children"
                                        data-ng-model="selectedchild">
                                    <option value="">-- NC --</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input  type="button" class="btn btn-primary" value="Play"
                                        data-ng-disabled="loading || !selectedwarning || !selectedchild" data-ng-class="{'disabled' : loading || !selectedwarning || !selectedchild }"
                                        data-ng-click="playWarning()" />
                            </div>

                        </div>

                    </div>

                </div>

                <div class="row">

                    <div class="form-group col-xs-6">

                        <label for="WarcraftCharacters">Characters</label>

                        <select id="WarcraftCharacters" class="form-control"
                                data-ng-disabled="loading || !selectedrace || !selectedrace.characters || !selectedrace.characters.length" data-ng-class="{'disabled' : loading || !selectedrace || !selectedrace.characters || !selectedrace.characters.length }"
                                data-ng-options="character.name for character in selectedrace.characters"
                                data-ng-model="selectedcharacter">
                            <option value="">-- NC --</option>
                        </select>

                    </div>

                    <div class="form-group col-xs-6">

                        <label for="WarcraftActions">Actions</label>

                        <select id="WarcraftActions" class="form-control"
                                data-ng-disabled="loading || !selectedcharacter || !selectedcharacter.actions || !selectedcharacter.actions.length" data-ng-class="{'disabled' : loading || !selectedcharacter || !selectedcharacter.actions || !selectedcharacter.actions.length }"
                                data-ng-options="action.name group by action.codetype for action in selectedcharacter.actions"
                                data-ng-model="selectedaction">
                            <option value="">-- NC --</option>
                        </select>

                    </div>

                    <div class="col-xs-12">

                        <div class="form-inline">

                            <div class="form-group">

                                <input  type="button" class="btn btn-primary" value="Preview"
                                        data-ng-disabled="loading || !selectedaction" data-ng-class="{'disabled' : loading || !selectedaction }"
                                        data-ng-click="previewAction()" />

                            </div>

                            <div class="form-group">
                                <select class="form-control"
                                        data-ng-disabled="loading || !selectedaction" data-ng-class="{'disabled' : loading || !selectedaction }"
                                        data-ng-options="child.name for child in children"
                                        data-ng-model="selectedchild">
                                    <option value="">-- NC --</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <input  type="button" class="btn btn-primary" value="Play"
                                        data-ng-disabled="loading || !selectedaction || !selectedchild" data-ng-class="{'disabled' : loading || !selectedaction || !selectedchild }"
                                        data-ng-click="playAction()" />
                            </div>

                        </div>

                    </div>

                </div>

            </form>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>

    </div>

</div>
